.search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #efefef;
}

.details {
  padding: 15px;
  border: 1px solid #ededed;
  margin-top: 15px;
  border-radius: 4px;
}