body {
  padding-top: 30px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

svg {
  height: 150px
}

td:first-of-type,
td:first-of-type > div {
  width: 250px;
  height: 200px
}